* {
  box-sizing: border-box;
}

body, p, h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
  font-family: 'Nunito';
  background: linear-gradient(
    195deg, rgba(240, 98, 146, 1) 0%,
    rgba(221, 89, 133, 1) 98%
  )
}

body {
  /* background-color: #130f0d; */
  color: #fff;
}
.todo-header {
  text-align: center;
}

.todo-form{
  padding: 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid #2C3035;
}

.todo-form h2, .todo-list {
  text-align: center;
}

.form-control {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-control label {
  font-weight: bold;
  font-size: 0.7rem;
  margin-bottom: 0.4rem;
}

.form-control input {
  border: 1px solid #222;border-radius: 2px;
  background-color: #2C3035;
  padding: 0.5rem;
  color: #DFDFDF
}

.form-btn {
  background-color: #333333;
  color: #eee;
  display: block;
  width: 100%;
  border: 1px solid #222;
  border-radius: 5px;
  padding: 0.7rem;
  cursor: pointer;
}

.todo-list {
  padding: 0 1rem 2rem;
  margin: 1rem 2rem;
}

.todo-list p {
  text-align: center;
}

.todo {
  border-bottom: 1px solid #444;
  padding: 1rem 0;
}

.todo h3 {
  margin-top: 0.5rem;
}

.todo-done {
  text-decoration: line-through;
  color: rgb(240, 98, 146);
}

.todo p {
  text-align: left;
  font-style: italic;
  font-size: 0.7rem;
  margin-bottom: 1.5rem;
}

.actions svg {
  cursor: pointer;
  font-size: 1.2rem;
  margin-right: 1rem;
  transition: 0.5s;
}

.actions svg:hover {
  color: rgb(240, 48, 146);
}